<!-- src/mailer/templates/car-registered.hbs -->
<p>Dear Customers,</p>

<p>The vehicle has been added.<br />
Click the URL below to log in.</p>

<p>Please contact our sales representative for your login ID and password.</p>

<p>This website displays vehicles that are available <strong>before</strong> our company purchases them.</p>

<p><strong>Web URL</strong><br />
<a href="https://offer-cars-foy1.vercel.app/customer/login">https://offer-cars-foy1.vercel.app/customer/login</a></p>

<p><strong>Explanation Video</strong><br />
<a href="https://youtu.be/mucwkJ5kL9I">https://youtu.be/mucwkJ5kL9I</a></p>

<p>It may take some time to log in. It depends on your internet connection.</p>

<p>Thank you.<br />
Shima Company<br />
Arata</p>